@font-face {
    font-family: 'Univers 93';
    src: url(Univers\ LT\ Std\ 93\ Extra\ Black\ Extended.otf);
}

@font-face {
    font-family: 'Univers 73';
    src: url(Univers\ LT\ Std\ 73\ Black\ Extended.otf);
}

body {
    height: 150vh;
}

h3 {
    font-family: 'Univers 73';
}

* {
    padding: 0;
    margin: 0;
}

#mainBody {
    text-align: center;
    font-weight: 0;
    font-size: 1.15vw;
    letter-spacing: 0.15vw;
    line-height: 1;
}

.textAnch {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    /* Center horizontally */
    text-decoration: none;
    color: inherit;
}

.textAnch:hover {
    color: rgb(43, 255, 0);
}

#descContainer {
    width: 46.7vw;
    margin-left: 24vw;
    margin-top: 28vh;
    display: flex;
    align-content: center;
}

.atomLogo {
    width: 4.5vw;
    margin-left: 47vw;
    margin-bottom: 1vh;
}

#detailsFooter {
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
    margin-top: 20vh;
}

#detailsFooter > h3 {
    line-height: 1;
    text-align: center;
    margin: 0;
    font-weight: 0;
    font-size: 1.2vw;
    letter-spacing: 0.15vw;
}

#detailsFooter > a > h3 {
    line-height: 1;
    text-align: center;
    margin: 0;
    font-weight: 0;
    font-size: 1.2vw;
    letter-spacing: 0.15vw;
}

#detailsFooter > #atom {
    width: 8.3vw;
    margin-left: 45vw;
    margin-top: 13vh;
}

.navbar {
    background-color: #929292;
    overflow: hidden;
    z-index: 9999;
    position: sticky;
    height: 5vh;
    opacity: 100%;
    pointer-events: none;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar>* {
    pointer-events: all;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    z-index: 9999;
}

#atomLogoNav {
    width: 45px;
    filter: invert(100%);
}